html body{
  padding: 0;
  margin: 0;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.699);
  padding: 30px;
  border-radius: 30px;
  color: white;
}

.form-title h1{
  text-align: center;
  font-size: 60px;
  margin: 0;
}

.input{
  height: 50px;
  width: 98%;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
}

.sign{
  text-align: center;
}
.sign-in{
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-size: x-large;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all .3s ease;
}

.sign-in:hover{
  background-color: white;
  color: black;
}

@media screen and (max-width: 650px){
  .form{
    height: 100vh;
    border-radius: 0;
  }
}

.back a{
  text-decoration: none;
  color: white;
}

.back{
  position: relative;
  left: 95%;
  bottom: 1%;
  font-size: 30px;
}