* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: none;
    
}

/* nav section starts */
.navbar {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    top: 0px;
    position: sticky;
    z-index: 3;
}

.menu-social-media{
    display: none;
    font-size: 30px;
}

.logo {
    margin: 5px 20px 5px 5px;
} 
.logo-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 3px 3px;
} 

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    height: 40px;
}

.nav-btn a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.nav-btn a:hover {
    opacity: 0.8;
    border-bottom: 1px solid white;
}
.nav-btn a:active {
    border-bottom: 2px solid white;
}

.log{
    position: absolute;
    right: 20px;
}

.Sign-btn {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    transition: .3s;
}

.Sign-btn:hover {
    border-bottom: 2px solid white;
}

.Sign-btn:active {
    border-bottom: 2px solid white;
}
#x {
    display: none;
} 
.x-menu{
    display: none;
}
.menu-title{
    display: none;
}

.menu-social-media{
    display: none;
}

@media screen and (max-width: 700px){
    .menu-social-media{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        margin-top: 20px;
        position: relative;
        top: 35%;
        right: 50px;
    }
    .x-menu{
        display: flex;
    }
    .menu-title{
        display: flex;
    }
    .x-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: white;
        z-index: 5;
    }

    .menu-title {
        color: white;
        margin: 18px 0px;
    }

    input[type="checkbox"] {
        display: none;
    }

    .menu-btn i {
        font-size: 40px;
    }

    #x:checked ~ .x-menu{
        right: 260px;
    }

    #x:checked ~ .x-menu i::before{
        content: "\f00d";
    }

    .nav-btn{
        position: absolute;
        top: 0;
        right: -300px;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.842);
        z-index: 1;
        overflow: hidden;
        display: none;
    }

    #x:checked ~ .nav-btn{
        right: 0;
        display: flex;
    }
    
    .nav-btn a {
        padding: 10px;
        border-radius: 3px;
        color: white;
        text-decoration: none;
        transition: .3s;
        width: 100%;
        text-align: center;
    }

    .log {
        position: absolute;
        right: 60px;
    }
}
/* nav section ends */

/* header section starts*/
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    margin-bottom: 86px;
}

#home::before {
    content: "";
    position: absolute;
    background: url("../image/home-background.webp") no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.header-title {
    font-family: 'Maven Pro', sans-serif;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 20px;
    width: auto;
}

#home p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
    color: white;
    width: 468px;
}


.header-btn{
    margin: 15px;
    padding: 6px 30px;
    border: 2px solid white;
    color: white;
    background: transparent;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    transition: all .3s ease;
}
.header-btn:hover{
    color: black;
    background-color: white;
}
@media screen and (max-width: 700px){
    .header-title {
        font-size: 2rem;
        padding-bottom: 20px;
    }
    #home p {
        width: 360px;
        font-size: 1.2rem;
    }
}
/* header section */

/* foods section */
#foods{
    color: rgba(20, 19, 19, 0.62);
    padding-bottom: 100px;
}

.items-icon{
    color: rgba(61, 30, 30, 0.774);
}
.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin: 0 60px;
}

@media screen and (max-width: 1700px) {
    .item-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1400px) {
    .item-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1030px) {
    .item-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 730px) {
    .item-grid{
        grid-template-columns: 1fr;
    }
}

.h-title{
    display: flex;
    font-size: 2.5rem;
    font-family: 'Maven Pro', sans-serif;
    justify-content: center;
    align-items: center;
    height: 133px;
}

.item-grid .box img{
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}
.item-grid .box h2{
    margin: 10px;
    height: 75px;
}

.price{
    color: rgb(28, 207, 28);
    font-weight: bolder;
}

.add-btn{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 242, 255);
    margin-top: 20px;
    margin-bottom: 10px;
    height: 35px;
    width: 190px;
    border: none;
    border-radius: 10px;
    background-color: rgb(206, 144, 9);
    cursor: pointer;
    transition: all .3s ease;
}

.add-btn:hover{
    background-color: rgba(206, 144, 9, 0.699);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 40px;
    border: 2px solid #c9aeae;
    background-color: rgba(0, 0, 0, 0.62);
    color: white;
}
/* foods section ends*/

/* Reviews section */
#reviews{
    background-color: #2b2929;
    padding: 200px 0;
}
.review-title{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom: 100px;
}

.customer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.customer-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}


.profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    
}

.profile-img > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.customer-review h2{
    color: white;
    margin-bottom: 10px;
}

.review-icon{
    color: rgb(255, 187, 0);
}

.review-p{
    width: 250px;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 8px;
    color: white;
}

.all-reviews{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.all-reviews a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 105px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: all .3s ease;
}

.all-reviews a:hover{
    background-color: white;
    color: black;
}
/* Reviews section ends */

/* Contact us section */
#contact-us::before{
    content: "";
    background: url("../image/roasted-pork-steak-dark-wooden-surface.webp") center/cover;
    z-index: -3;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    color: white;
    padding-top: 8%;
}

.form-title{
    text-align: center;
    margin: 50px 0px;
}

#name{
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
}
#email{
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.ask-btn{
    text-align: center;
    margin-top: 40px;
}
.submit{
    height: 40px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    transition: all .3s ease;
}

.submit:hover{
    background-color: white;
    color: black;
}

.social-media-div{
    display: flex;
    justify-content: end;
}

.social-media a{
    text-decoration: none;
    color: white;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.658);
    width: 300px;
    border-radius: 15px;
}

@media screen and (max-width: 800px){
    #contact-us::before{
        height: 125%;
    }
    .form{
        width: 95%;
    }

    .social-media-div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
}
/* Contact us section ends */

/* card section */
.card a{
    text-decoration: none;
    color: black;
}

.card{
    display: flex;
    align-items: center;
    justify-content: start;
    position: sticky;
    bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
    width: 103px;
}

.card-btn {
    background-color: rgb(210, 230, 211);
    border: 2px solid rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    grid-area: c;
}

.card .card-quantity{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: relative;
    right: 52px;
    opacity: 0;
    transition: all .3s ease;
}

.card:hover .card-quantity{
    opacity: 1;
}
/* card section ends */