* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: none;
    
}

/* nav section starts */
.navbar {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    top: 0px;
    position: sticky;
    z-index: 3;
}

.logo {
    margin: 5px 20px 5px 5px;
} 
.logo-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 3px 3px;
} 

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    height: 40px;
}

.nav-btn a {
    border-radius: 3px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.nav-btn a:hover {
    opacity: 0.7;
}
.nav-btn a:active {
    border-bottom: 2px solid white;
}

.log{
    position: absolute;
    right: 20px;
}

.Sign-btn {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    transition: .3s;
}

.Sign-btn:hover {
    border-bottom: 2px solid white;
}

.Sign-btn:active {
    border-bottom: 2px solid white;
}
#x {
    display: none;
} 
.x-menu{
    display: none;
}
.menu-title{
    display: none;
}

@media screen and (max-width: 700px){
    .x-menu{
        display: flex;
    }
    .menu-title{
        display: flex;
    }
    .x-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease;
        z-index: 5;
    }

    .menu-title {
        color: white;
        margin: 18px 0px;
    }

    input[type="checkbox"] {
        display: none;
    }

    .menu-btn i {
        font-size: 40px;
    }

    #x:checked ~ .x-menu{
        right: 260px;
    }

    #x:checked ~ .x-menu i::before{
        content: "\f00d";
    }

    .nav-btn{
        position: absolute;
        top: 0;
        right: -300px;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        background-color: black;
        z-index: 1;
        transition: all .3s ease;
    }

    #x:checked ~ .nav-btn{
        right: 0;
    }
    
    .nav-btn a {
        padding: 10px;
        border-radius: 3px;
        color: white;
        text-decoration: none;
        transition: .3s;
        width: 100%;
        text-align: center;
    }

    .log {
        position: absolute;
        right: 60px;
    }
}
/* nav section ends */

/* header section starts*/
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    margin-bottom: 86px;
    padding: 3px 600px;
}

.home::before {
    content: "";
    position: absolute;
    background: url("image/home-background.jpg") no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 64%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.header-title {
    font-family: 'Maven Pro', sans-serif;
    color: white;
    font-size: 3rem;
    padding: 12px;
}

.h-itame{
    display: flex;
    font-size: 2.5rem;
    font-family: 'Maven Pro', sans-serif;
    justify-content: center;
    align-items: center;
    height: 133px;
}

.home p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.3rem;
    color: white;
}


.header-btn{
    margin: 15px;
    padding: 6px 30px;
    border: 2px solid white;
    color: white;
    background: transparent;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    cursor: pointer;
}
.header-btn:hover{
    color: black;
    background-color: white;
}

/* header section */

/* item's section */
#all-itame #i-box{
    display: flex;
    margin: 40px;
}

#i-box .box img{
    height: 150px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin: 5px;
    padding: 40px;
    width: 100%;
    border: 2px solid #c9aeae;
    background-color: rgb(248, 245, 240);
}
/* animation section */
.pc-left{
    position: relative;
    animation-name: s-left;
    animation-duration: 2s;
    animation-iteration-count: 1;   
    animation-timing-function: ease;
    animation-delay: 0.1s;
}
@keyframes s-left{
    0%{
        opacity: 0;
        right: 190px;
    }
    100%{
        opacity: 1;
        right: 0px;
    }
    
}

.pc-bottom{
    position: relative;
    animation-name: s-bottom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0.1s;
}
@keyframes s-bottom{
    0%{
        opacity: 0;
        bottom: -190px;
    }
    100%{
        opacity: 1;
        bottom: 0px;
    }
}

.pc-right{
    position: relative;
    animation-name: s-right;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0.1s;
}
@keyframes s-right{
    0%{
        opacity: 0;
        left: 190px;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}
/* add's section */
#claint{
    height: 577px;
}

#claint::before{
    content: "";
    position: absolute;
    background: url("image/roasted-pork-steak-dark-wooden-surface.jpg") no-repeat center center/cover;
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: .4;
}

#biv-claint{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
}

#claint img{
    height: 100px;
}

.c-box{
    padding: 34px;
}

@media screen and (max-width: 1240px){
    #navbar ul li{
        font-size: 1.3rem;
    }
    #navbar ul li a {
        padding: 0px;
    }
    .header-title{
        font-size: 4vw;
    }
    .home{
        display: flex;
        justify-content: center;
        padding: 0;
        height: 15px;
        align-items: center;
        margin-top: 124px;
        margin-bottom: 150px;
    }
    .home::before {
        height: 350px;
    }
    #all-itame #i-box{
        margin: 0px;
        flex-direction: column;
    }
    .box{
        margin: 3px 0px;
        padding: 8px;
        box-sizing: border-box;
    }
    
    .right{
        position: relative;
        animation-name: s-right;
        animation-duration: 1.5s;
        animation-iteration-count: 1;   
        animation-timing-function: ease;
        animation-delay: 0.1s;
    }
    @keyframes s-right{
        0%{
            opacity: 0;
            left: 190px;
        }
        100%{
            opacity: 1;
            left: 0px;
        }
    }

    .left{
        position: relative;
        animation-name: s-left;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-delay: 1s;
    }
    @keyframes s-left{
        0%{
            opacity: 0;
            right: 190px;
        }
        100%{
            opacity: 1;
            right: 0px;
        }
    }

    .bottom{
        position: relative;
        animation-name: s-bottom;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-delay: 1.5s;
    }
    @keyframes s-bottom{
        0%{
            opacity: 0;
            bottom: -190px;
        }
        100%{
            opacity: 1;
            bottom: 0px;
        }
    }
    .c-box{
        padding: 8px;
    }
    #claint::before{
        height: 43%;
    }
}